.skip-page-title {
  font-weight: 600;
  letter-spacing: 1px;
  color: #22223b;
  font-family: "Montserrat", "Roboto", sans-serif;
  margin: 60px 30px 30px;
  text-align: center;
  font-size: 2.5rem;
}

.skip-page-caption-wrapper {
  text-align: center;
  margin-bottom: 32px;
  background: linear-gradient(135deg, #f6fcff 0%, #e1eeff 100%);
  border-radius: 30px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.skip-page-caption {
  color: #4a5568;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Montserrat", "Roboto", sans-serif;
  display: block;
  padding: 4px 24px;
}

.caption-highlight {
  color: #3a86ff;
  font-weight: 600;
  display: inline-block;
  margin-left: 4px;
}
